<div class="content" ng-app="app">
    <div ng-view></div>
</div>

<!-- All Angular js files -->
<script src="/js/core.min.js"></script>

<!-- All Angular controllers and services -->
<script src="/js/controller.min.js"></script>
